<%= form_for(@menu_category) do |f| %>
  <% if @menu_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_category.errors.count, "error") %> prohibited this menu_category from being saved:</h2>

      <ul>
      <% @menu_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:field_menu_category_name) %><br>
    <%= f.text_field :name, maxlength: 64 %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_description) %><br>
    <%= f.text_area :description, maxlength: 1024, size: "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
