<%= form_for(@foodstuff) do |f| %>
  <% if @foodstuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@foodstuff.errors.count, "error") %> prohibited this foodstuff from being saved:</h2>

      <ul>
      <% @foodstuff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:field_menu_name) %><br>
    <%= f.collection_select :menu_id, Menu.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:field_food_name) %><br>
    <%= f.collection_select :food_id, Food.where(group: FoodGroup.first).limit(10), :id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:field_food_amout) %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
