<h1><%= t :listing_foodstuffs %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :field_menu_name  %></th>
      <th><%= t :field_food_name  %></th>
      <th><%= t :field_food_amout %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @foodstuffs.each do |foodstuff| %>
      <tr>
        <td><%= foodstuff.menu.name %></td>
        <td><%= foodstuff.food.name %></td>
        <td><%= foodstuff.amount %></td>
        <td><%= link_to 'Show', foodstuff %></td>
        <td><%= link_to 'Edit', edit_foodstuff_path(foodstuff) %></td>
        <td><%= link_to 'Destroy', foodstuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Foodstuff', new_foodstuff_path %>
