<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :field_menu_name %>:</strong>
  <%= @foodstuff.menu.name %>
</p>

<p>
  <strong><%= t :field_food_name %>:</strong>
  <%= @foodstuff.food.name %>
</p>

<p>
  <strong><%= t :field_food_amout %>:</strong>
  <%= @foodstuff.amount %>
</p>

<%= link_to 'Edit', edit_foodstuff_path(@foodstuff) %> |
<%= link_to 'Back', foodstuffs_path %>
