<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:field_menu_category) %><br>
    <%= f.collection_select :category_id, MenuCategory.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_name) %><br>
    <%= f.text_field :name, maxlength: 64 %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_description) %><br>
    <%= f.text_area :description, maxlength: 1024, size: "50x5" %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_image) %><br>
    <% if @menu.image? %>
      <div>
    	<%= image_tag @menu.image_url(:thumb).to_s %>
    	<label><%= f.check_box :remove_image %><%= t :button_delete %></label>
    	<%= f.hidden_field :image_cache if @menu.image_cache %>
	  </div>
    <% end %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field_box">
    <%= f.label t(:field_menu_foodstuffs) %><br>
    <ul id="foodstuffs">
      <%= f.fields_for :foodstuffs do |foodstuff| %>
        <%= render 'foodstuff_fields', f: foodstuff %>
      <% end %>
    </ul>
    <p><%= link_to_add_fields t(:button_add), f, :foodstuffs, '#foodstuffs' %></p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
