<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:field_menu_category) %><br>
    <%= f.collection_select :category_id, MenuCategory.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_name) %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_description) %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label t(:field_menu_image) %><br>
    <% if @menu.image? %>
      <div>
    	<%= image_tag @menu.image_url(:thumb).to_s %>
    	<label><%= f.check_box :remove_image %><%= t :button_delete %></label>
    	<%= f.hidden_field :avatar_cache if @menu.image_cache %>
	  </div>
    <% end %>
    <%= f.file_field :image %>
  </div>
  
  <div style="padding: 10px; margin: 3px; border: 1px solid #666666; width: 30%;">
	  <%= fields_for(@menu.foodstuffs.first) do |f2| %>
		  <div class="field">
		  	<%= f2.label t(:field_menu_foodstuffs) %><br>
		  	<%= form_tag({controller: controller_name, action: action_name}, method: :get, id: 'test1', remote: true) do %>
					<%= collection_select :target, :group, FoodGroup.all.order(:number), :id, :name, include_blank: true %>
		  	<% end %>
		  	<%= f2.select :food_id, {} %>
		  </div>
		  <div class="field">
		  	<%= f2.label t(:field_food_amout) %><br>
		  	<%= f2.text_field :amount %>
		  </div>
	  <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
