<h1 class="headline"><%= t :listing_menus %></h1>

<div class="select_form">
  <%= form_tag({controller: controller_name, action: action_name}, method: :get, id: 'query_form') do %>
    <p class="hide-when-print">
      <%= t :message_select_menu_category %>
      <%= collection_select :target, :category, MenuCategory.all, :id, :name,  selected: @category_id %>
      <%= select            :target, :size,  {"10件" => 10, "20件" => 20, "30件" => 30, "50件" => 50}, selected: @size %>

      <%= link_to_function t(:button_apply), '$("#query_form").submit()', class: 'icon icon-checked' %>
      <%= link_to t(:button_clear), {controller: controller_name, action: action_name}, class: 'icon icon-reload' %>
    </p>
  <% end %>
  <p><%= t :field_search_result, count: @menus_count %></p>
</div>

<h2 class="headline"><%= @category_name %></h2>

<p class="paginate"><%= paginate @menus %></p>

<table>
  <thead>
    <tr>
      <th><%= t :field_menu_image %></th>
      <th><%= t :field_menu_name %></th>
      <th><%= t :field_menu_description %></th>
      <th><%= t :field_menu_foodstuffs %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td class="menu-image"><%= image_tag menu.image.url(:thumb).to_s if menu.image? %></td>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td>
          <ul>
          <%- menu.foodstuffs.each do |f| -%>
            <li><%= "#{f.food.subdivision}: #{f.amount}[g]" %></li>
          <%- end -%>
          </ul>
    	</td>
        <td><%= link_to 'Show', menu %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p class="paginate"><%= paginate @menus %></p>

<%= link_to 'New Menu', new_menu_path(cayegory_id: @category_id) %>
