<h1 class="headline"><%= t :listing_foods %></h1>

<div class="select_form">
  <%= form_tag({controller: controller_name, action: action_name}, method: :get, id: 'query_form') do %>
    <p class="hide-when-print">
      <%= t :message_select_food_group %>
      <%= collection_select :target, :group, FoodGroup.all.order(:number), :id, :name,  selected: @group_id %>
      <%= select            :target, :size,  {"10件" => 10, "20件" => 20, "30件" => 30, "50件" => 50}, selected: @size %>
  
      <%= link_to t(:button_apply), "#", onclick: '$("#query_form").submit(); return false;', class: 'icon icon-checked' %>
      <%= link_to t(:button_clear), {controller: controller_name, action: action_name}, class: 'icon icon-reload' %>
    </p>
  <% end %>
  <p><%= t :field_search_result, count: @foods_count %></p>
</div>

<h2 class="headline"><%= @food_group_name %></h2>

<p><%= paginate @foods %></p>

<div class="food-list">
  <table>
    <thead>
      <tr>
        <th class="text"><%= t :field_food_number %></th>
        <th class="text"><%= t :field_food_name %></th>
        <th class="text"><%= t :field_refuse %></th>
        <% Food.nutrients.each do |nutrient| %>
          <th><%= t("field_" + nutrient.to_s) %></th>
        <% end %>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td class="text"><%= food.number %></td>
          <td class="text"><%= food.full_name %></td>
          <td><%= food.refuse_percentage %></td>
          <% Food.nutrients.each do |nutrient| %>
            <td><%= food.public_send nutrient %></td>
          <% end %>
          <td><%= link_to 'Show', food %></td>
          <td><%= link_to 'Edit', edit_food_path(food) %></td>
          <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><%= paginate @foods %></p>

<%= link_to 'New Food', new_food_path %>
