<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :field_food_group %>:</strong>
  <%= @food.group.name %>
</p>

<p>
  <strong><%= t :field_food_number %>:</strong>
  <%= @food.number %>
</p>

<p>
  <strong><%= t :field_classification %>:</strong>
  <%= @food.classification %>
</p>

<p>
  <strong><%= t :field_subdivision %>:</strong>
  <%= @food.subdivision %>
</p>

<p>
  <strong><%= t :field_name %>:</strong>
  <%= @food.name %>
</p>

<p>
  <strong><%= t :field_refuse %>:</strong>
  <%= @food.refuse %>
</p>

<p>
  <strong><%= t :field_energy %>:</strong>
  <%= @food.energy %>
</p>

<p>
  <strong><%= t :field_energy_kj %>:</strong>
  <%= @food.energy_kj %>
</p>

<p>
  <strong><%= t :field_water %>:</strong>
  <%= @food.water %>
</p>

<p>
  <strong><%= t :field_protein %>:</strong>
  <%= @food.protein %>
</p>

<p>
  <strong><%= t :field_protein_sum_of_amino_acid_residuse %>:</strong>
  <%= @food.protein_sum_of_amino_acid_residuse %>
</p>

<p>
  <strong><%= t :field_lipid %>:</strong>
  <%= @food.lipid %>
</p>

<p>
  <strong><%= t :field_triacylglycerol_equivalents %>:</strong>
  <%= @food.triacylglycerol_equivalents %>
</p>

<p>
  <strong><%= t :field_carbohydrate %>:</strong>
  <%= @food.carbohydrate %>
</p>

<p>
  <strong><%= t :field_ash %>:</strong>
  <%= @food.ash %>
</p>

<p>
  <strong><%= t :field_sodium %>:</strong>
  <%= @food.sodium %>
</p>

<p>
  <strong><%= t :field_potassium %>:</strong>
  <%= @food.potassium %>
</p>

<p>
  <strong><%= t :field_calcium %>:</strong>
  <%= @food.calcium %>
</p>

<p>
  <strong><%= t :field_magnesium %>:</strong>
  <%= @food.magnesium %>
</p>

<p>
  <strong><%= t :field_phosphorus %>:</strong>
  <%= @food.phosphorus %>
</p>

<p>
  <strong><%= t :field_iron %>:</strong>
  <%= @food.iron %>
</p>

<p>
  <strong><%= t :field_zinc %>:</strong>
  <%= @food.zinc %>
</p>

<p>
  <strong><%= t :field_copper %>:</strong>
  <%= @food.copper %>
</p>

<p>
  <strong><%= t :field_manganese %>:</strong>
  <%= @food.manganese %>
</p>

<p>
  <strong><%= t :field_iodine %>:</strong>
  <%= @food.iodine %>
</p>

<p>
  <strong><%= t :field_selenium %>:</strong>
  <%= @food.selenium %>
</p>

<p>
  <strong><%= t :field_chromium %>:</strong>
  <%= @food.chromium %>
</p>

<p>
  <strong><%= t :field_molybdenum %>:</strong>
  <%= @food.molybdenum %>
</p>

<p>
  <strong><%= t :field_retinol %>:</strong>
  <%= @food.retinol %>
</p>

<p>
  <strong><%= t :field_alpha_carotenes %>:</strong>
  <%= @food.alpha_carotenes %>
</p>

<p>
  <strong><%= t :field_beta_carotenes %>:</strong>
  <%= @food.beta_carotenes %>
</p>

<p>
  <strong><%= t :field_beta_cryptoxanthin %>:</strong>
  <%= @food.beta_cryptoxanthin %>
</p>

<p>
  <strong><%= t :field_bata_carotene_equivalents %>:</strong>
  <%= @food.bata_carotene_equivalents %>
</p>

<p>
  <strong><%= t :field_retinol_activity_equivalents %>:</strong>
  <%= @food.retinol_activity_equivalents %>
</p>

<p>
  <strong><%= t :field_vitamind %>:</strong>
  <%= @food.vitamind %>
</p>

<p>
  <strong><%= t :field_alpha_tocopherols %>:</strong>
  <%= @food.alpha_tocopherols %>
</p>

<p>
  <strong><%= t :field_beta_tocopherols %>:</strong>
  <%= @food.beta_tocopherols %>
</p>

<p>
  <strong><%= t :field_gamma_tocopherols %>:</strong>
  <%= @food.gamma_tocopherols %>
</p>

<p>
  <strong><%= t :field_delta_tocopherols %>:</strong>
  <%= @food.delta_tocopherols %>
</p>

<p>
  <strong><%= t :field_vitamink %>:</strong>
  <%= @food.vitamink %>
</p>

<p>
  <strong><%= t :field_thiamin %>:</strong>
  <%= @food.thiamin %>
</p>

<p>
  <strong><%= t :field_riboflavin %>:</strong>
  <%= @food.riboflavin %>
</p>

<p>
  <strong><%= t :field_niacin %>:</strong>
  <%= @food.niacin %>
</p>

<p>
  <strong><%= t :field_vitaminb6 %>:</strong>
  <%= @food.vitaminb6 %>
</p>

<p>
  <strong><%= t :field_vitaminb12 %>:</strong>
  <%= @food.vitaminb12 %>
</p>

<p>
  <strong><%= t :field_folate %>:</strong>
  <%= @food.folate %>
</p>

<p>
  <strong><%= t :field_pantothenic_acid %>:</strong>
  <%= @food.pantothenic_acid %>
</p>

<p>
  <strong><%= t :field_biotin %>:</strong>
  <%= @food.biotin %>
</p>

<p>
  <strong><%= t :field_ascorbic_acid %>:</strong>
  <%= @food.ascorbic_acid %>
</p>

<p>
  <strong><%= t :field_saturated_fatty_acids %>:</strong>
  <%= @food.saturated_fatty_acids %>
</p>

<p>
  <strong><%= t :field_monounsaturated_fatty_acids %>:</strong>
  <%= @food.monounsaturated_fatty_acids %>
</p>

<p>
  <strong><%= t :field_polyunsaturated_fatty_acids %>:</strong>
  <%= @food.polyunsaturated_fatty_acids %>
</p>

<p>
  <strong><%= t :field_cholesterol %>:</strong>
  <%= @food.cholesterol %>
</p>

<p>
  <strong><%= t :field_soluble_dietary_fibers %>:</strong>
  <%= @food.soluble_dietary_fibers %>
</p>

<p>
  <strong><%= t :field_insoluble_dietary_fibers %>:</strong>
  <%= @food.insoluble_dietary_fibers %>
</p>

<p>
  <strong><%= t :field_total_dietary_fibers %>:</strong>
  <%= @food.total_dietary_fibers %>
</p>

<p>
  <strong><%= t :field_salt_equivalents %>:</strong>
  <%= @food.salt_equivalents %>
</p>

<%= link_to 'edit', edit_food_path(@food) %> |
<%= link_to 'back', foods_path %>
